@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}


h1{
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:rgba(60, 60, 109, 0.479);
    border: 1px solid black;
    border-radius: 10px;
    text-shadow: 1px 1px 1px black;
     
}
p{
    color: rgb(163, 62, 62);
    text-indent: 20px;
    text-align: justify;
    

}
@media screen and (min-width: 900px){

    h1{
        background-color: red;
        width: 500px;
        

    
}
